*{
  margin: 0;
  padding: 0;
}

.no-bottom{
  padding-bottom: 0 !important;
}


.same-height .fdb-box.fdb-touch {
  min-height: 500px ;
}

@media only screen and (max-width: 1199px) {
  .same-height .fdb-box.fdb-touch {
    min-height: auto;
  }
}